.hero-article__image {
  width: 100%;
}

.hero-article__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: var(--space-md);
}

.hero-article__heading {
  margin-right: clamp(6rem, 5vw, 8rem);
  font-size: clamp(2.1rem, 5vw, 3rem);
  line-height: clamp(2.5rem, 5vw, 3.5rem);
  color: var(--color-text);
  width: 100%;
  margin-right: var(--space-xl);
}

body.dark-mode .hero-article__heading {
  background: var(--blue-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback */
}

.hero-article__content-bottom {
  width: 100%;
}

.hero-article__content-para {
  color: var(--color-text-alt);
  margin-right: var(--space-xl);
  padding-top: var(--space-md);
  padding-bottom: var(--space-lg);
}

/* ======= Media Queries ======= */
@media screen and (min-width: 768px) {
  .hero-article__heading {
    width: 85%;
    margin: 0;
    margin-right: 1rem;
  }

  .hero-article__content-para {
    padding-bottom: var(--space-xl);
  }
}

@media screen and (min-width: 1024px) {
  .hero-article__content {
    flex-direction: row;
    align-items: flex-start;
  }

  .hero-article__content-para {
    padding-top: 0;
  }
}
