@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* Inter supports a wide range */
  font-style: normal; /* We'll define slant via slnt axis */
  font-display: swap;
}
