@import "./font.css";
@import "./variables.css";

/* ====== Base Stylese ======= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

body.dark-mode {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* ====== Typography ======= */
h1 {
  font-weight: 800;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ====== Layout ======= */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* ====== Utils ======= */
.top-section {
  display: grid;
  margin-top: var(--space-xl);
  gap: var(--space-2xl);
}
/* ====== General Media quereis ======= */
@media screen and (min-width: 768px) {
  .top-section {
    grid-template-columns: 2fr 1fr;
    gap: var(--space-xl);
  }
}
