:root {
  /* Color Roles */
  --color-accent-1: hsl(35, 77%, 62%); /* Primary accent (orange) */
  --color-accent-2: hsl(5, 85%, 63%); /* Secondary accent (red) */

  /* Background Colors */
  --color-bg: hsl(36, 100%, 99%); /* Primary background */
  --color-bg-alt: hsl(240, 100%, 5%); /* Secondary background */

  /* Text Colors */
  --color-text: hsl(240, 100%, 5%); /* Primary text */
  --color-text-alt: hsl(236, 13%, 42%); /* Secondary text */
  /* --color-text-invert: hsl(217, 28%, 74%); Text on dark backgrounds */
  --color-text-invert: hsl(240, 4%, 74%); /* Text on dark backgrounds */

  --blue-gradient: linear-gradient(
    90deg,
    hsl(260, 100%, 70%),
    hsl(190, 100%, 70%)
  );
  --orange-gradient: linear-gradient(to right, #ff8a00, #e52e71);

  --color-overlay: hsla(0, 0%, 0%, 0.5);

  /* Font System */
  --font-family: "Inter", sans-serif;
  --font-size-base: 15px;
  --font-weight-base: 400;
  --font-weight-bold: 700;

  /* Spacing */
  --space-xs: 0.5rem; /* 7.5px */
  --space-sm: 0.75rem; /* 11.25px */
  --space-md: 1rem; /* 15px (base) */
  --space-lg: 1.5rem; /* 22.5px */
  --space-xl: 2rem; /* 30px */
  --space-2xl: 3rem; /* 45px */ /* for section spacing */
  --space-3xl: 4rem; /* 60px */

  --gap: var(--space-md);
}

body.dark-mode {
  --color-accent-1: hsl(35, 77%, 52%);
  --color-accent-2: hsl(5, 85%, 53%);

  --color-bg: hsl(240, 100%, 5%);
  --color-bg-alt: hsl(36, 100%, 99%);

  --color-text: hsl(236, 13%, 42%);
  --color-text-alt: hsl(0, 0%, 80%);
  --color-text-invert: hsl(240, 100%, 5%);

  --color-overlay: hsla(0, 0%, 100%, 0.1);
}
