:root {
  /* Color Roles */
  --color-accent-1: hsl(35, 77%, 62%); /* Primary accent (orange) */
  --color-accent-2: hsl(5, 85%, 63%); /* Secondary accent (red) */

  /* Background Colors */
  --color-bg: hsl(36, 100%, 99%); /* Primary background */
  --color-bg-alt: hsl(240, 100%, 5%); /* Secondary background */

  /* Text Colors */
  --color-text: hsl(240, 100%, 5%); /* Primary text */
  --color-text-alt: hsl(236, 13%, 42%); /* Secondary text */
  --color-text-invert: hsl(36, 100%, 99%); /* Text on dark backgrounds */

  --color-overlay: hsla(0, 0%, 0%, 0.5);

  /* Font System */
  --font-family: "Inter", sans-serif;
  --font-size-base: 15px;
  --font-weight-base: 400;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-unit: 1rem;
}

body.dark-mode {
  --color-accent-1: hsl(35, 77%, 52%);
  --color-accent-2: hsl(5, 85%, 53%);

  --color-bg: hsl(240, 100%, 5%);
  --color-bg-alt: hsl(36, 100%, 99%);

  --color-text: hsl(236, 13%, 42%);
  /* --color-text-alt: hsl(240, 100%, 85%); */
  --color-text-alt: hsl(0, 0%, 80%);
  --color-text-invert: hsl(240, 100%, 5%);

  --color-overlay: hsla(0, 0%, 100%, 0.1);
}
