.logo {
  color: var(--color-bg-alt);
}

.header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}

.header__right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
  .header__right-section {
    flex-direction: row;
  }
}
