.highlights-card {
  display: flex;
  align-items: flex-start;
  gap: var(--space-lg);
}

.highlights-card:hover .highlights-card__heading {
  transition: var(--hover-color-transition);
  color: var(--color-accent-2);
}

.highlights-card__image {
  width: 100px;
  height: 120px;
  object-fit: cover;
}

.highlights-card__index {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-2);
}

.highlights-card__description {
  color: var(--color-text-alt);
}
